.header {
  width: 100%;

  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #333;
  @include responsive(480px) {
    padding: 15px;
  }
  .logo {
    width: 48px;
    margin-right: 16px;
  }
  .webisite-title {
  }
}
