.output {
  width: 45%;
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h3 {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    .code-copy {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
    }
  }
  .button-window {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 400px;
    margin-bottom: 20px;
    .my-button {
      cursor: pointer;
    }
  }
  code {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    background: lighten(lightgray, 10%);
    .red {
      color: darken(red, 10%);
    }
    .green {
      color: darken(lightgreen, 35%);
    }
    .orange {
      color: orange;
    }
  }
  textarea {
    display: none;
    &.active {
      display: block;
    }
  }
}
