.output {
  width: 45%;
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .button-window {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 400px;
    margin-bottom: 20px;
    .my-button {
      cursor: pointer;
    }
  }
  h3 {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    .code-copy {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;

      .code-copy-success {
        position: relative;
        background: black;
        color: white;
        font-size: 16px;
        font-weight: normal;
        padding: 4px;
        border-radius: 4px;
        animation: codeCopiedSuccesfully 2s;
        @keyframes codeCopiedSuccesfully {
          from {
            opacity: 0;
            transform: translate(0, 10px);
          }
          to {
            opacity: 1;
            transform: translate(0, 0);
          }
        }
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 100%);
          display: block;
          border: 6px solid;
          border-color: black transparent transparent transparent;
        }
      }
      .code-copy-img {
        width: 32px;
        height: 32px;
      }
    }
  }
  code {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    background: lighten(lightgray, 10%);
    .red {
      color: darken(red, 10%);
    }
    .green {
      color: darken(lightgreen, 35%);
    }
    .orange {
      color: orange;
    }
    .gap,
    .prop {
      display: block;
      padding-left: 30px;
    }
  }
  textarea {
    display: none;
    &.active {
      display: block;
    }
  }
}
