@import "reset";
@import "responsive";

.App {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1024px;
  margin: auto;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;

  @include responsive(1080px) {
    width: 100%;
    .input {
      padding: 0 0 0 15px;
    }
    .output {
      padding: 0 15px 0 0;
    }
  }
  @include responsive(800px) {
    .input,
    .output {
      font-size: 16px;
    }
  }
  @include responsive(640px) {
    .input,
    .output {
      padding: 0 15px;
      width: 100%;
    }
  }
}

@import "./components/header";
@import "./components/input";
@import "./components/output";
@import "./components/footer";
