* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

.App {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 960px;
  margin: auto;
  font-size: 20px;
}

.App .settings section {
  margin-bottom: 16px;
}

.App .settings section .section-name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

.App .settings section .input-group {
  padding: 10px;
  margin-bottom: 10px;
  background: #ededed;
}

.App .settings .text input[type="text"] {
  margin-top: 10px;
  padding: 5px;
}

.App .settings .text .text-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .settings .text .text-size input[type="number"] {
  width: 25%;
  padding: 5px;
}

.App .settings .text .text-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .settings .text .text-style input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.App .settings .text .text-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .settings .text .text-color input[type="color"] {
  width: 20px;
}

.App .settings .border .border-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .settings .border .border-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .settings .border .border-color input[type="color"] {
  width: 20px;
}

.App .button-preview .my-button {
  cursor: pointer;
}

.App .background .button-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .background .button-background input[type="color"] {
  width: 20px;
}
